{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block title %}New Service Category{% endblock %}

{% block content %}
<form class="" action="" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group">
      <label for="name">{{ field.label }}</label>
      {% if field.errors %}
        {{ field|add_class:"form-control is-invalid" }}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {{ field|add_class:"form-control" }}
      {% endif %}
    </div>
  {% endfor %}
  <input type="submit" class="btn btn-info btn-sm" value="Save">
</form>
{% endblock %}
