{% extends 'layout.html' %}
{% block title %}Service Categories{% endblock %}
{% block content %}
  {% if categories %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="no-border-top">#</th>
          <th class="no-border-top">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            <td></td>
            <td>
              <div class="btn-group" role="group">
                <a class="editable" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ category.ar_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'service:edit_service_category' pk=category.pk %}">Edit</a>
                  <a class="dropdown-item" href="{% url 'service:delete_service_category' pk=category.pk %}">Delete</a>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert alert-info">No categories to display</p>
  {% endif %}
{% endblock %}
